{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Rent_Car | Contact_admin{% endblock title %}
{% block pagetitle %}Buyurtmalar ro'yhati{% endblock pagetitle %}
{% block page_title %} contact {% endblock page_title %}

{% block content %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Buyurtmalar</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>N</th>
                            <th>Mijoz</th>
                            <th>Mashina</th>
                            <th>Davlat Raqam</th>
                            <th>Olingan sana</th>
                            <th>Qaytib olinadigan sana</th>
                            <th>Summa</th>
                            <th>To'lov turi</th>
                            <th>Buyurtma holati</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in roots %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ x.user.phone }}</td>
                                <td>{{ x.car.name }}</td>
                                <td>{{ x.car.raqam }}</td>
                                <td>{{ x.date_from }}</td>
                                <td>{{ x.date_to }}</td>
                                <td>{{ x.summa }}</td>
                                <td>{{ x.pay_type }}</td>
                                <td>
                                    {% if x.status == False %}
                                    <a title="Sizning buyurtmangiz ko'rib chiqimoqda!"
                                    class="btn btn-primary btn-circle btn-sm float-center:">
                                    <i class="fas fa-info"></i>
                                    </a>
                                    {% else %}
                                    <a title="Buyurtma qabul qilindi"
                                     class="btn btn-success btn-circle btn-sm float-center:">
                                    <i class="fas fa-check-circle "></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock content %}


